@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 346 68% 98%;
    --foreground: 346 51% 1%;
    --muted: 106 28% 92%;
    --muted-foreground: 106 9% 27%;
    --popover: 346 68% 98%;
    --popover-foreground: 346 51% 1%;
    --card: 346 68% 98%;
    --card-foreground: 346 51% 1%;
    --border: 346 14% 93%;
    --input: 346 14% 93%;
    --primary: 346 43% 11%;
    --primary-foreground: 346 43% 71%;
    --secondary: 106 43% 11%;
    --secondary-foreground: 106 43% 51%;
    --accent: 226 43% 11%;
    --accent-foreground: 226 43% 71%;
    --destructive: 14 80% 21%;
    --destructive-foreground: 14 80% 81%;
    --ring: 346 43% 11%;
    --chart-1: 346 43% 11%;
    --chart-2: 106 43% 11%;
    --chart-3: 226 43% 11%;
    --chart-4: 106 43% 14%;
    --chart-5: 346 46% 11%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 346 45% 0%;
    --foreground: 346 39% 100%;
    --muted: 106 28% 8%;
    --muted-foreground: 106 9% 73%;
    --popover: 346 45% 0%;
    --popover-foreground: 346 39% 100%;
    --card: 346 45% 0%;
    --card-foreground: 346 39% 100%;
    --border: 346 14% 13%;
    --input: 346 14% 13%;
    --primary: 346 43% 11%;
    --primary-foreground: 346 43% 71%;
    --secondary: 106 43% 11%;
    --secondary-foreground: 106 43% 51%;
    --accent: 226 43% 11%;
    --accent-foreground: 226 43% 71%;
    --destructive: 14 80% 55%;
    --destructive-foreground: 0 0% 0%;
    --ring: 346 43% 11%;
    --chart-1: 346 43% 11%;
    --chart-2: 106 43% 11%;
    --chart-3: 226 43% 11%;
    --chart-4: 106 43% 14%;
    --chart-5: 346 46% 11%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
